:root {
  --black: #2f303a;
  --white: #ffffff;
  --grey: #f5f4fa;
  --blue: #2196f3;
  --primary font: 'Roboto', sans-serif;
  --secondary font: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: var(--white);
    font-family: var(--primary);
}

.header {
  background-color: var(--white);
  width: 1600px;
  height: 80px;
  border: 1px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  color: #212121;
  font-family: var(--secondary);
}

.header__navigation ul {
  list-style-type: none;
  color: #212121;
  font-family: var(--primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2;
  display: flex;
}

.header__navigation a:hover {
  color: var(--blue);
}

.header__info {
  color: #212121;
  font-family: var(--primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2;
}

.header__info:hover {
  color: var(--blue);
}

.footer {
  background-color: var(--black);
}

/* Index */

.main {
  background-color: var(--black);
  color: white;
  width: 1600px;
  height: 600px;
  display: flex;
  align-items: center;
}

.main__text {
  font-family: var(--primary);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6;
  text-align: center;
  flex: 1;
  order: 1;
}

.main__button {
  font-family: var(--primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  order: 2;

}

.what {
  background-color: var(--white);
}

.what__section{
    background-color: var(--white);
  width: 1170px;
  height: 101px;
  padding: 91px 215px;
  display: flex;
  gap:30px
  
}

.what__title {
  font-family: var(--primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3;
  text-align: left;
  width: 270px;
  height: 16px;

}

.what__subtitle {
  font-family: var(--primary);
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3;
  text-align: left;
  width: 270px;
  height: 75px;
}

.what {
  width: 1170px;
  height: 386px;
}

.what__we {
  font-family: var(--primary);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3;
  width: 198px;
  height: 42px;
  padding-bottom: 50px;
  padding-left: 701px;
    padding-right: 701px;

}

.what__images{
  display: flex;
    gap: 30px;
    padding: 0 215px;

}

.what__image{
    width: 370px;
  height: 294px;
}

.ourteam {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
    padding: 0px 215px;
  gap: 30px;
  display: block;
}

.ourteam__div{
  display: block;

}

.ourteam__name {
  font-family: var(--primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 3;
  width: 88px;
  height: 19px;
display: flex;
justify-self: center;
}

.ourteam__job {
  font-family: var(--primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 3;
  text-align: center;
  width: 87px;
  height: 19px;
}

.ourteam__team{
  width: 1170px;
  width: 368px;
  display: flex;
    width: 270px;
  height: 368px;
}

.ourteam__image{
  width: 270px;
  height: 260px;
}

.ourteam__title {
  font-family: var(--primary);
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 3;
  text-align: center;
  width: 165px;
  height: 42px;
  padding-top: 188px;
  padding-bottom: 50px;
  padding-left: 500px;
}

.footer {
  width: 1600px;
  height: 251px;
}

.footer__box{
width: 231px;
height: 72px;
padding-left: 215px;
padding-bottom: 60px;
padding-right: 1154px;
}

.footer__logo {
  color: var(--white);
  font-family: var(--secondary);
  width: 145px;
  height: 31px;
  padding-bottom: 28px;
  padding-top: 60px;
  padding-left: 215px;
  padding-right: 1240px;

}

.footer__adress {
  color: var(--white);
  font-family: var(--primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  width: 207px; 
  height: 16px;
  padding-bottom: 12px

}

.footer__info {
  color: #ffffff;
  font-family: var(--primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
    color: #757575;
    letter-spacing: 3%;
    display: block;
      width: 231px; 
  height: 16px;
}

.footer__info:hover {
  color: var(--blue);
}

/* Portofolio */

.main{
  background-color: white;
    width: 1170px;
  height: 1360px;

}

.button {
  background-color: #f5f4fa;
  color: black;
  font-family: var(--primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 3;
  text-align: center;
  cursor: pointer;
  gap: 8px;
}

.button:hover {
  background-color: var(--blue);
  color: white;
}

.porto{
  width: 1170px;
  height: 1360px;
}


.porto__div{
  display: flex;
  align-items: center;
}

.porto__images{
  width: 370px;
  height: 404px;
}

.porto__image{
  width: 370px;
  height: 294px;
}

.porto__title {
  font-family: var(--primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6;
  text-align: left;
}

.porto__subtitle {
  font-family: var(--primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3;
  text-align: left;
}
