:root {
  --black: #2f303a;
  --white: #ffffff;
  --grey: #f5f4fa;
  --blue: #2196f3;
  --primaryfont: 'Roboto', sans-serif;
  --secondaryfont: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: var(--white);
  font-family: var(--primaryfont);
}

.header {
  background-color: var(--white);
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__div {
  display: flex;
}

.header__div1 {
  display: flex;
  gap: 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
}

.header__logo {
  color: #212121;
  font-family: var(--secondaryfont);
  display: flex;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
}

.header__navigation {
  list-style-type: none;
  color: #212121;
  font-family: var(--primaryfont);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  gap: 93px;
}

.header__navigation {
  display: flex;
  padding-left: 215px;
  align-items: center;
}

.header__navigation a:hover {
  color: var(--blue);
}

.header__div2 {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-right: 215px;
}

.header__info {
  color: #757575;
  font-family: var(--primaryfont);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header__info:hover {
  color: var(--blue);
}

.footer {
  background-color: var(--black);
}

/* Index */

.main {
  background-color: var(--black);
  width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__text {
  font-family: var(--primaryfont);
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
  height: 120px;
  display: flex;
  padding-top: 200px;
  padding-bottom: 30px;
  padding-left: 452px;
  padding-right: 452px;
}

.main__button {
  font-family: var(--primaryfont);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.what {
  background-color: var(--white);
}

.what__section {
  background-color: var(--white);
  width: 1170px;
  height: 101px;
  padding: 91px 215px;
  display: flex;
  gap: 30px;
}

.what__title {
  font-family: var(--primaryfont);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
  height: 16px;
}

.what__subtitle {
  font-family: var(--primaryfont);
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
  height: 75px;
}

.what {
  width: 1170px;
  height: 386px;
}

.what__we {
  font-family: var(--primaryfont);
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  width: 198px;
  height: 42px;
  padding-bottom: 50px;
  padding-left: 701px;
  padding-right: 701px;
}

.what__images {
  display: flex;
  gap: 30px;
  padding: 0 215px;
}

.what__image {
  width: 370px;
  height: 294px;
}

.ourteam {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.ourteam__div {
  background-color: var(--white);
  width: 270px;
  height: 368px;
}

.ourteam__name {
  font-family: var(--primaryfont);
  font-size: 16px;
  font-weight: var(--black);
  line-height: 18.75px;
  letter-spacing: 0.03em;
  width: 145px;
  height: 19px;
  display: flex;
  padding-top: 30px;
  padding-left: 63px;
  padding-right: 62px;
  padding-bottom: 10px;
  justify-content: center;
}

.ourteam__job {
  font-family: var(--primaryfont);
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  width: 130px;
  height: 19px;
}

.ourteam__team {
  width: 1170px;
  width: 368px;
  display: flex;
  width: 270px;
  height: 368px;
  padding-left: 215px;
  gap: 30px;
}

.ourteam__image {
  width: 270px;
  height: 260px;
}

.ourteam__title {
  font-family: var(--primaryfont);
  font-size: 35px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 165px;
  height: 42px;
  padding-top: 188px;
  padding-bottom: 50px;
  padding-left: 720px;
  display: flex;
}

.footer {
  width: 1600px;
  height: 251px;
}

.footer__box {
  width: 231px;
  height: 72px;
  padding-left: 215px;
  padding-bottom: 60px;
  padding-right: 1154px;
}

.footer__logo {
  color: var(--white);
  font-family: var(--secondaryfont);
  width: 145px;
  height: 31px;
  padding-bottom: 28px;
  padding-top: 60px;
  padding-left: 215px;
  padding-right: 1240px;
}

.footer__adress {
  color: var(--white);
  font-family: var(--primaryfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  width: 207px;
  height: 16px;
  padding-bottom: 12px;
}

.footer__infos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__info {
  color: #ffffff;
  font-family: var(--primaryfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #757575;
  letter-spacing: 0.03em;
  width: 231px;
  height: 16px;
}

.footer__info:hover {
  color: var(--blue);
}

.spanhf {
  color: var(--blue);
}

/* Portofolio */

.mainporto {
  background-color: white;
  width: 1170px;
  height: 1360px;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
  padding-top: 94px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  border: 0;
  width: 516px;
  height: 38px;
  padding-bottom: 56px;
  padding-left: 327px;
  padding-right: 326px;
}

.button {
  background-color: #f5f4fa;
  color: black;
  font-family: var(--primaryfont);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}

.button:hover {
  background-color: var(--blue);
  color: white;
}

/* .porto { */
/* padding-left: 215px;
  padding-right: 215px; */

.porto__div {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.porto__images {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}

.porto__image {
  width: 370px;
  height: 294px;
}

.porto__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.porto__title {
  font-family: var(--primaryfont);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.porto__subtitle {
  font-family: var(--primaryfont);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}
